<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Document</title>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
	crossorigin="anonymous">
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
	integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
	crossorigin="anonymous">
	
</script>
</head>
<body>
<header th:replace="~{fragments/header :: myheader}"></header>
	 <form method="GET" th:action="@{/admin/buscarCat}">
		<input type="text" placeholder="Nombre categoria" name="nombre"
			id="nombre" th:value="${param.nombre}"
			 />
		<input type="submit" value="Enviar" />
	</form>
	<div class="container-lg">

		<div class="row">
			<div class="col-md-12">
				<h4 class="text-center mb-4">Create Your Domain Name</h4>
				<div class="table-wrap">
					<table class="table">
						<thead class="thead-primary">
							<tr>

								<th>Nombre</th>
								<th>Modificar</th>
								<th>Eliminar</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="categoria : ${categorias}">

								<td th:text="${categoria.nombre}">nombre</td>
								<td><a href="#"
									th:href="@{/admin/categoriasAdmin/{id}/editar(id=${categoria.id})}"
									class="btn btn-primary">Modificar</a></td>
								<td><a href="#"
									data-bs-toggle="modal" th:attr="data-bs-target='#delete-modal'+'-'+${categoria.id}"
									class="btn btn-danger">Eliminar</a></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<div class="d-flex justify-content-between">
			<a th:href="@{/index}"><button class=" btn btn-primary rounded-pill">Volver
					Atrás</button> <a th:href="@{/logout}"><button
						class=" btn btn-primary rounded-pill">SALIR</button></a> <a
				th:href="@{/admin/categoriasAdmin/nuevo}"><button
						class=" btn btn-primary rounded-pill">CrearNuevo</button></a> <a
				th:href="@{/admin/productosAdmin}"><button
						class=" btn btn-primary rounded-pill">ModificarProductos</button></a>
		</div>
	</div>
	
	
	<div class="modal fade"  th:id="delete-modal +' -' + ${categoria.id}">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title">Borrar categoría</h4>
				</div>
				<div class="modal-body">
					<p>¿Está usted seguro de borrar esta categoría?</p>
					<button type="button" class="btn btn-default" data-dismiss="modal">No</button>
					<a th:href="@{/admin/categoriasAdmin/borrar/{id}(id=${categoria.id})}" class="btn btn-danger">Sí</a>
				</div>
			</div>

		</div>
	</div>
</body>
</html>
